html {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
}

.banner {
  background-image: url("../images/starfield.png");
  padding-top: 10em;
  padding-bottom: 28em;
}

.banner-content {
  text-shadow: 2px 1px 18px rgba(255, 255, 255, .7);
  color: #fff;
}

.btn {
  border-radius: 8px;
  transition: all 250ms ease;
  border-color: #90ccc3;
}

.btn:hover .btn:focus {
  color: #b4fff4;
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
  transition: all 250ms ease;
}

.btn:active {
  top: 4em;
  transform: translate(0, .25em);
}

.btn .icon {
  transition: all 250ms ease;
}

.btn-ghost {
  transition: all 250ms ease;
}
